
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1 class="dark">Sube tu anuncio</h1>
    </div>
    <div class="form-content">
      <form [formGroup]="form" (ngSubmit)="subirVideojuego()" enctype="multipart/form-data" class="custom-form">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo"
            placeholder="Ingrese el título del videojuego">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" rows="3"
            placeholder="Ingrese una descripción del videojuego"></textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="lanzamiento">Año de Lanzamiento</label>
              <input type="number" class="form-control" id="lanzamiento" name="lanzamiento" formControlName="lanzamiento"
                placeholder="Ingrese el año de lanzamiento">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="precio">Precio</label>
              <div class="input-group">
                <input type="number" class="form-control" id="precio" name="precio" formControlName="precio"
                  placeholder="Ingrese el precio">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="estado">Estado</label>
          <select class="form-select" id="estado" name="estado" formControlName="estado" (change)="cambiarEstado($event)">
            <option value="Precintado">Precintado</option>
            <option value="Como nuevo">Como nuevo</option>
            <option value="Usado">Usado</option>
            <option value="Mal estado">Mal estado</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-select" id="tipo" name="tipo" formControlName="tipo" (change)="cambiarTipo($event)">
            <option value="Consola">Consola</option>
            <option value="Juego">Juego</option>
          </select>
        </div>
        <div class="form-group">
          <label for="compania">Compañia</label>
          <select class="form-select" id="compania" name="compania" formControlName="compania" (change)="cambiarCompania($event)">
            <option value="Nintendo">Nintendo</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Xbox">Xbox</option>
            <option value="PC">PC</option>
            <option value="Otros">Otros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="plataforma">Plataforma:</label>
          <select class="form-select" formControlName="plataforma" (change)="cambiarPlataforma($event)">
            @for(console of consoles[compania.value]; track console)
            {
              <option value="{{console}}" selected>{{console}}</option>
            }
          </select>
        </div>
        <p>{{this.plataforma.value}}</p>
        <p>{{this.compania.value}}</p>
        <div class="form-group">
          <label for="imagenPrincipal">Imagen Principal</label>
          <input type="file" class="form-control" id="imagenPrincipal" name="imagenPrincipal"
            formControlName="imagen" (change)="changeImage($event)">

          <label for="imagen">Imagen 2</label>
          <input type="file" class="form-control" id="imagen" name="imagen" formControlName="imagen2" (change)="changeImage2($event)">
          <label for="imagen">Imagen 3</label>
          <input type="file" class="form-control" formControlName="imagen3" (change)="changeImage3($event)"> 
          <label for="imagen4">Imagen 4</label>
          <input type="file" class="form-control" formControlName="imagen4" (change)="changeImage4($event)">
        </div>
        <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Enviar</button>
      </form>
    </div>
  </div>
</div>
