<div class="card text-dark h-100 cardcss">
  <div class="card-body d-flex flex-column justify-content-between">
    @if(videojuego.imagenPrincipal)
    {
      <img [src]="videojuego.imagenPrincipal" alt="Imagen del videojuego" [routerLink]="['/videojuegos/', videojuego._id]" class="card-img-top img-fluid rounded imagen"> <!-- Añadir la imagen aquí -->
    }
    <h5 class="card-title align-self-start">{{videojuego.titulo}}</h5>
    <p class="card-text ">{{videojuego.plataforma}}</p>
    <p class="card-text mb-0" style="font-weight: bold;">{{videojuego.precio}} €</p>

    <div class="d-flex flex-row justify-content-between align-items-start">
      <div>
        @if(videojuego.estado == 'Precintado'){
          <span class="badge bg-success">Precintado</span>
        }
        @if(videojuego.estado == 'Usado'){
          <span class="badge bg-warning">Usado</span>
        }
        @if(videojuego.estado == 'Como nuevo'){
          <span class="badge bg-info">Como nuevo</span>
        }
        @if(videojuego.estado == 'Mal estado'){
          <span class="badge bg-danger">Mal estado</span>
        }
      </div>
      @if(usuarioLogueado?._id != videojuego.idUsuario && logged()){
        <div>
          <i class="fa-regular fa-heart fa-2x me-2" (click)="liked ? quitarLike() : nuevoLike()" [ngClass]="{
            'like': liked === true,
            'noLike': liked === false 
          }"></i>
        </div>
      }
    </div>
  </div>
</div>
