<footer class="bg-dark p-2 align-items-center justify-content-between mt-4">
    <ul class="nav navbar me-lg-auto mb-2 justify-content-start ">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/avisolegal']">Aviso legal</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link text-light" [routerLink]="['/contacto']">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/sobrenosotros']" >Sobre nosotros</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link text-light" href="index.html">retrogaming.com © 2024</a>
      </li>
    </ul>
  </footer>