<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1 class="dark">Login</h1>
        </div>
        <div class="form-content">
            <form [formGroup]="formGroup" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required="required" formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required="required" formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-remember">
                        <input type="checkbox" />Remember Me
                    </label><a class="form-recovery" href="#">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Log In</button>
                </div>
            </form>
        </div>
    </div>
 
</div>
