<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1 class="dark">Login</h1>
        </div>
        <div class="form-content">
            <form [formGroup]="formGroup" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Nombre usuario</label>
                    <input type="text" id="username" name="username" required="required" formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required="required" formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-remember">
                    </label><a class="form-recovery" href="#">¿Has olvidado tu contraseña?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark"  [disabled]="formGroup.invalid">Log In</button>
                </div>
                <div>
                    <p>¿No tienes cuenta?</p>
                    <a class="btn btn-dark btn-sm mt-4" [routerLink]="['/auth/registro']">Regístrate</a>
                </div>
            </form>
        </div>
    </div>
 
</div>
