

<div class="container mt-4 ">
<div class="row">
  @for (videojuego of videojuegos;  track videojuego._id) {
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <app-card [videojuego]="videojuego"></app-card>
    </div>
  }
</div>


<!-- <div class="row">
    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/super_mario_bros_deluxe.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Super Mario</h5>
          <p class="card-text">Super Mario Deluxe: Acompaña a Mario en una emocionante aventura para rescatar a la
            princesa Peach del malvado Bowser.</p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    
    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/Greg-4.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">PAC-MAN</h5>
          <p class="card-text">Pac-Man: Embárcate en una odisea laberíntica con el comecocos amarillo más famoso y sus divertidos fantasmas.
            <span class="badge bg-warning">New</span>
          </p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>


    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/tekken3.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Tekken 3</h5>
          <p class="card-text">Tekken 3: Enfréntate a los mejores luchadores en este torneo de artes marciales,
            donde cada puñetazo cuenta.</p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    
    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/medievil_cover.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Medievil</h5>
          <p class="card-text">MediEvil: Únete al valiente caballero Sir Daniel Fortesque en su misión para salvar
            el reino de Gallowmere de las fuerzas oscuras. <span class="badge bg-warning">New</span>

          </p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/Pokemon-Amarillo.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Pokemon-Amarillo</h5>
          <p class="card-text">Pokémon Amarillo: Acompaña a Pikachu en esta emocionante aventura por convertirse en
            un Maestro Pokémon.               <span class="badge bg-warning">New</span>
          </p>
          <a href="#" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/Harry-Potter.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Harry Potter</h5>
          <p class="card-text">Harry Potter: Explora el mundo mágico de Hogwarts y enfrenta desafíos para
            convertirte en un hechicero legendario.</p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/Donkey-Kong.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Donkey-Kong</h5>
          <p class="card-text">Donkey Kong: Únete a Donkey Kong y sus amigos en una emocionante búsqueda para
            recuperar sus preciadas bananas. <span class="badge bg-warning">New</span>
          </p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/Resident-Evil.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Resident Evil</h5>
          <p class="card-text">Resident Evil: Sumérgete en un mundo de horror y supervivencia mientras enfrentas
            zombis y criaturas aterradoras en Raccoon City.</p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>
   
    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/digimon-world.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Digimon World</h5>
          <p class="card-text">Digimon World: Embárcate en una emocionante aventura, donde entrenas a tus Digimon.
            <span class="badge bg-warning">New</span>

          </p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/spider-man.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Spider-Man</h5>
          <p class="card-text">Spider-Man: Únete a Peter Parker en su lucha contra el crimen en la bulliciosa Nueva
            York. <span class="badge bg-warning">New</span>
          </p>
          <a href="#" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/warioland.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Wario Land</h5>
          <p class="card-text">Wario Land: Embárcate en una extravagante aventura con el codicioso anti-héroe Wario.</p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>

    <div class="container mt-4 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <img src="public/images/crash-bandicoot.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Crash Bandicoot</h5>
          <p class="card-text">Crash Bandicoot: Únete al marsupial naranja, Crash, en su lucha contra el malvado Dr.
            Neo Cortex. <span class="badge bg-warning">New</span>
          </p>
          <a href="detalles.html" class="btn btn-secondary">Ir a detalles</a>
        </div>
      </div>
    </div>
  </div> -->