#infoCompleta{
    margin-top: 25px;
    margin-bottom: 25px;
}



#imagenJuego img {
    width: 100%;
    border-radius: 10px;
}


.imagenes{
    width: 100%;
    height: auto;
    max-height: 150px; /* Ajusta el tamaño máximo según tus necesidades */
    object-fit: cover;
}
#info {
    padding: 20px;
}

#precios h2 {
    margin-top: 20px;
}

.col-4 img {
    width: 100%;
    border-radius: 10px;
}

.bg-light {
    background-color: #f8f9fa !important; /* Cambia el color de fondo a uno más claro */
}

.rounded {
    border-radius: 10px !important; /* Añade bordes redondeados a todos los elementos */
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a los elementos */
}

h1, h2 {
    color: #333; 
    text-transform: uppercase;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover {
    color: orange;
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .zoom-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Ajusta el tamaño del zoom según tus necesidades */
    height: 200px; /* Ajusta el tamaño del zoom según tus necesidades */
    border: 2px solid black;
    background-color: white;
    z-index: 1000;
  }
  
  .zoom-box img {
    width: 100%;
    height: 100%;
  }
  
  .zoomable:hover + .zoom-box {
    display: block;
  }
  
  .like {
    color: red; /* Color por defecto del corazón */
    font-size: 34px; /* Tamaño del ícono */
    transition: color 0.3s; /* Suaviza la transición de color */
  }
  
  .hand{
    font-size: 34px;
  }
  
  p {
    color: #333; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    margin-top: 5px; /* Espacio arriba del texto */
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  