#infoCompleta{
    margin-top: 25px;
    margin-bottom: 25px;
}



#imagenJuego img {
    width: 100%;
    border-radius: 10px;
}


.imagenes{
    width: 100%;
    height: auto;
    max-height: 150px; 
    object-fit: cover;
}


.col-4 img {
    width: 100%;
    border-radius: 10px;
}

.bg-light {
    background-color: #f8f9fa !important; 
}

.rounded {
    border-radius: 10px !important; 
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1, h2 {
    color: #333; 
    text-transform: uppercase;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover {
    color: orange;
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .zoom-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; 
    height: 200px; 
    border: 2px solid black;
    background-color: white;
    z-index: 1000;
  }
  
  .zoom-box img {
    width: 100%;
    height: 100%;
  }
  
  .zoomable:hover + .zoom-box {
    display: block;
  }
  
  .like {
    color: red;
    font-size: 34px; 
    transition: color 0.3s; 
  }
  
  .hand{
    font-size: 34px;
  }
  
  p {
    color: #333; 
    font-size: 20px; 
    margin-top: 5px; 
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  #info {
    padding: 2rem; 
  }
  
  #info h1 {
    font-size: 2rem; 
    color: #343a40;
    margin-bottom: 1rem; 
  }
  
  #info p {
    font-size: 1.1rem; 
    color: #555; 
    margin-bottom: 1.5rem; 
  }
  
  #info h2 {
    font-size: 1.5rem; 
    color: #6c757d;
    margin-bottom: 1rem; 
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    margin-top: 0.5rem; 
    display: inline-block;
  }
  
  .container i {
    font-size: 1.5rem; 
    margin-right: 0.5rem; 
  }
  
  .container h4 {
    display: inline-block;
    font-size: 1.2rem; 
    color: #555; 
  }
  
  #precios h2 {
    font-size: 1.4rem; 
    color: #6c757d; 
    margin-bottom: 0.5rem; 
  }
  
  
  button.btn.btn-dark {
    font-size: 1.2rem; 
    padding: 0.75rem 1.5rem; 
  }
  
  #avatar {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-top: 1rem; 
  }