<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 text-center p-5">
        <h1 class="mb-4">¿QUIÉNES SOMOS?</h1>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/retroo.jpg" class="d-block w-100" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="/assets/retroo2.jpeg" class="d-block w-100" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="/assets/retroo3.jpg" class="d-block w-100" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="/assets/retroo4.jpg" class="d-block w-100" alt="Slide 4">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 text-center p-5 bg-light rounded shadow"> 
      <h1 class="mb-4">RETROGAMING</h1>
      <p>
        Bienvenidos a RetroGaming, el rincón virtual donde la nostalgia por los videojuegos clásicos cobra vida.
        En RetroGaming, nos apasiona compartir la magia de las consolas retro y los juegos atemporales.
        Somos un equipo de entusiastas dedicados a celebrar la rica historia de los videojuegos y a proporcionar
        contenido auténtico y entretenido.
        Únete a nosotros mientras exploramos juntos la emocionante travesía a través de los recuerdos y
        las consolas que han dejado una marca imborrable en la historia del gaming. ¡Bienvenido a RetroGaming, donde los
        píxeles tienen su propio encanto!
      </p>
  </div>
  <div class="row">
    <div class="col-6 col-sm-12 mb-5 text-center p-5">
        <h2>Nuestra Historia</h2>
        <p>RetroGaming dio inicio en 2024 con un grupo apasionado de entusiastas de los videojuegos retro decididos a compartir su amor por los clásicos. En este mismo año, hemos experimentado un emocionante crecimiento y evolución, siempre fieles a nuestra pasión por la autenticidad y la nostalgia.</p>
        <p>Nuestro viaje actual se desenvuelve con entusiasmo y expectativas, y estamos emocionados por descubrir las sorpresas que el futuro de RetroGaming nos deparará en los próximos meses. Agradecemos sinceramente a cada uno de ustedes por formar parte fundamental de nuestra historia este año.</p>
    </div>
    <div class="col-6 col-sm-12 mt-5 mb-5 text-center p-5 bg-light rounded shadow">
      <h2>Nuestros Valores</h2>
      <ul class="list-unstyled justify-content-between align-items-center d-block d-sm-flex">
        <li class="mb-4">
          <strong>Pasión</strong><br>
          <img class="img-fluid rounded p-2" src="/assets/pasion.webp" alt="" style="width: 200px;">
        </li>
        <li class="mb-4">
          <strong>Autenticidad:</strong> <br>
          <img class="img-fluid rounded p-2" src="/assets/autenticidad.webp" alt="" style="width: 200px;">
        </li>
        <li class="mb-4">
          <strong>Compromiso:</strong><br>
          <img class="img-fluid rounded p-2 " src="/assets/compromiso.webp" alt="" style="width: 200px;">
        </li>
      </ul>
      <blockquote class="blockquote">
        <p class="mb-0">"Los videojuegos son una forma de arte que nos permite explorar mundos imaginarios y crear recuerdos duraderos. En RetroGaming, celebramos la magia atemporal de los clásicos."</p>
      </blockquote>
    </div>
  </div>