#profile {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

#avatar {
  border-radius: 50%;
  max-width: 100px;
}

#name {
  margin-top: 10px;
}

#email {
  margin-bottom: 20px;
}

.contenedor-flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.button {
  margin-right: 15px;
}

.tabs {
  margin-bottom: 20px;
}


.btnSaldo {
  margin-top: 10px;
  margin-bottom: 20px;
}

.transaction-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.form-control {
  width: 300px;
}

.vendido {
  background-color: red;
}

#formularioSaldo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.form-group select {
  background-color: rgba(58, 58, 58, 0.1);
  border-radius: 3px;
}

.form-group input {
  background-color: rgba(58, 58, 58, 0.1);
}

.expiracion {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-country {
  position: absolute;
  top: 0.7rem;
  left: 0;
  margin-right: 10px;
}

.active {
  border: 2px solid green;
}