#profile {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  #avatar {
    border-radius: 50%;
    max-width: 100px;
  }
  #name {
    margin-top: 10px;
  }
  #email {
    margin-bottom: 20px;
  }

  .contenedor-flexbox {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas si es necesario */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
}

.button{
  margin-right: 15px;
}

.tabs{
  margin-bottom: 20px;
}

#formularioSaldo{
  margin-bottom: 20px;
  margin-top: 10px;
}

#btnSaldo{
  margin-top: 10px;
}

.transaction-image {
  width: 100%;
  height: auto;
  max-height: 300px; /* Ajusta el tamaño máximo según tus necesidades */
  object-fit: cover;
}

.form-control {
  width: 300px;
}

.vendido{
  background-color: red;
}