@font-face {
  font-family: 'RetroGaming';
  src: url('assets/fonts/RetroGaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.list-group-item {
    transition: background-color 0.3s ease;
  }

  .list-group-item:hover {
    background-color: #FFD580; 
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-item:hover {
    background-color: #FFD580; 
    cursor: pointer;
    border-radius: 5px;
  }
  

  .dropdown-item:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }


  html{
    font-size: 100%;
  }

  p{
    font-size: 1em;
  }
  h3{
    font-size: 1.75em;
  }
  h2{
    font-size: 1.5em;
  }
  h1{
    font-size: 2em;
  }

  #iconoLogin{
    border-radius: 50%;
    margin-right: 20px;
  }
  #iconoCarrito{
    margin-left: 20px;
    margin-right: 20px;
  }
  .logout{
    margin-right: 10px;
    border-radius: 20px;
    

}

.buscar {
  font-family: RetroGaming, sans-serif;
}

.platform-group h3 {
  margin-top: 0;
  padding-top: 10px;
}

.platform-group label {
  font-size: 14px;
  margin: 5px 0;
  display: block;
}

.form-group {
  padding-right: 10px; 
}

.filter-group {
  display: flex;
  flex-direction: column; 
  align-items: start;
  margin-bottom: 1rem; 
}

.filter-group label {
  font-size: 0.8rem;
  color: #333; 
}

.filter-group select {
  font-size: 0.8rem; 
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  background-color: #fff; 
  cursor: pointer; 
}


.col-lg-3.col-md-4.col-sm-6 {
  margin: 1.5rem; 
}
  @media (min-width: 768px) {
    html {
      font-size: 1em;
    }
  
    h3 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.75em;
    }
  
    h1 {
      font-size: 2.25em;
    }
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 0.75em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.25em;
    }
  
    h1 {
      font-size: 1.75em;
    }
  }
  
  @media (max-width: 480px) {

    html {
      font-size: 0.5em;
    }
  
    h3 {
      font-size: 1.25em;
    }
  
    h2 {
      font-size: 1em;
    }
  
    h1 {
      font-size: 1.5em;
    }
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
